<html>
    <head>
        <title>Daftar Barang</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <link href="../js/themes/default/easyui.css" rel="stylesheet" />
        <link href="../js/themes/icon.css" rel="stylesheet" />
        <link href="../css/custom.css" rel="stylesheet" />

        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script type="text/javascript" src="../js/easyloader.js"></script>
        <script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
        <script type="text/javascript" src="../js/app/barang.js"></script>
    </head>
    <body>
    <h1>Daftar Barang</h1>
    <div id="toolbarBarang">  
        <a href="print" target="_blank" class="easyui-linkbutton" iconCls="icon-print" plain="true" >Cetak</a>  
    </div>
    <table id="gridBarang" title="Barang List" 
           style="width:700px;height:250px"
           class="easyui-datagrid" toolbar="#toolbarBarang"></table>
           
   <script type="text/javascript">
        $(document).ready(createGridBarang);
    </script>
    </body>
</html>